.notes{
    display: flex;
    flex-direction: column;
    align-items:center;
    &__pre{
        &__text{
            margin-top: 15px;
        }
    }
    &__add{
        width: 100%;
        margin-top: 30px;
        display: flex;
        justify-content: center;
        input{
            box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.12);
            padding: 10px;
            width: 50%;
            border-radius: 5px;
            border: none;
            outline: none;
        }
    }
    &__pinned{
        display: flex;
        justify-content: center;
        margin-top: 15px;
    }
    &__list{
        margin-top: 15px;
        gap: 15px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
        &__item{
            flex-grow: 1;
            width: 240px;
            min-height: 146px;
            padding: 15px;
            border-radius: 5px;
            background-color: orange;
            &__title{}
            &__body{}

        }
    }
}